body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.config-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background: white;
}

.velocidade button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.start-button {
  background-color: yellow;
  border: 2px solid red;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 20px;
}

#jogo h1 {
  color: #004080;
}

.palavra {
  font-size: 32px;
  margin: 20px 0;
  letter-spacing: 10px;
}

.teclado button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  width: 40px;
  cursor: pointer;
}


.teclado .foco {
  outline: 3px solid blue;
  background-color: #d0e7ff;
}
